<% include partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto">
      <div class="mt-5 card bg-transparent border-success">
    <h5 class="card-header text-success">What is AwwApp?</h5>
  <div class="card-body">

    <p class="card-text">Are you as big a fan of Reddit as I am? Do you spend endless hours lurking through countless posts instead of working/studying/CODING?? (I obviously choose option[2]...) Well, if you are as avid Redditor as you say you are, you would have to be familiar with r/aww subreddit, where people put adorable pictures of their pets. But what are the criteria of Awweness? This app serves a a pre-submittal service for r/aww. It allows you to post an image of your Awwesome fren and tell us why you think it should be on r/aww. You will avoid the dissapointments of being downvoted or being never seen on top of the page on real r/aww with this amazing testing tool!</p>
  </div>
    </div>
  </div>
</div>
  <div class="row">
  <div class="col-md-6 col-sm-8 m-auto">

    	<% awws.forEach(function(aww){ %>

<div class="card my-3">
  <div class="card-footer text-muted">
    <%= aww.created.toDateString() %>
  </div>
  <img class="card-img-top img-responsive" src="<%= aww.image %>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">  <span style="font-family: 'Concert One', cursive; color: #FF1493;"><i class="fa fa-heart" aria-hidden="true"></i>Aww </span><%= aww.title %></h5>
    <p class="card-text"><%- aww.body.substring(0,100); %>....</p>
    <a href="/awws/<%=aww._id %>" class="btn btn-dark border-light" style="background-color: #FF1493;">Read More</a>
  </div>

</div>
	<% }); %>
</div>
</div>
</div>
<% include partials/footer %>
